@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin loginSignupContainer($minHeight, $height) {
    box-shadow: 0px 0px 3px 0px $primary;
    min-height: $minHeight;
    height: $height;
    text-align: center;
    border-radius: 5px;
}

@mixin infoPillText() {
    background: $background-shade-1;
    border-radius: 16px;
    padding: 2px 5px 3px 5px;
    color: $text-shade-1;
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Small devices
@mixin sm-md {
    @media (min-width: #{$screen-sm-md-min}) {
        @content;
    }
}
// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// wide screen large devices
@mixin wd {
    @media (min-width: #{$screen-wd-min}) {
        @content;
    }
}

// Custom devices
@mixin csd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}
