$red: red;
$primary: #4b98dd;
$primary-1: #00a0e9;
$primary-2: #00a0e9b3;
$text-shade-1: #444;
$text-shade-2: #666;
$text-shade-3: #888;
$background-shade-1: #ddd;
$background-shade-2: #eee;
$saleskey-navbar: black;
$saleskey-navbar-inverse: #2b86d8;
$disabled-text-color: #ccc;
$disabled-input-text: #666;
$disabled-text-background: #fbfbfb;
$success-background: #f7f4f3;
$font-color-span: #666666;
$font-color-strong: #333;
$error-background: #ffe8e8;
$section-divider: #efefef;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 480px;
$screen-sm-md-min: 600px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 1024px;
// Large tablets and desktops
$screen-xl-min: 1280px;
// Extra wide desktops
$screen-wd-min: 1400px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 480px;
$inner-content-sm-max: 300px;

$screen-sm-md-min: 600px;
$inner-content-md-max: 420px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;

// Extra wide desktops
$screen-wd-min: 1400px;

$chat-input-border: #d7d7d7;
$chat-send-button-background: #56a4f6;
$chat-send-button-shadow: #00000033;
$chat-box-shadow: #0000001a;
$chat-time: #9e9e9e;
$chat-time-bg: #f2f2f2;
$chat-desktop-header: #144196;

$text-shade-0: #333;
$text-shade-1: #444;
$text-shade-2: #666;
$text-shade-3: #888;

/**
* Fonts in em
*/
$font-size-8px: 0.5em;
$font-size-10px: 0.625em;
$font-size-12px: 0.75em;
$font-size-14px: 0.875em;
$font-size-15px: 0.9375em;
$font-size-16px: 1em;
$font-size-18px: 1.125em;
$font-size-20px: 1.25em;
$font-size-22px: 1.375em;
$font-size-24px: 1.5em;
$font-size-26px: 1.625em;
$font-size-28px: 1.75em;
$font-size-30px: 1.875em;
$font-size-34px: 2.125em;
$font-size-36px: 2.25em;
$font-size-40px: 2.5em;
$font-size-54px: 3.375em;
$font-size-60px: 3.75em;
$font-size-95px: 5.9375em;
$font-size-100px: 6.25em;
